Flask==3.1.1
Flask-Cors==6.0.1
gunicorn==23.0.0
pymongo==4.13.2
mongoengine==0.27.0
cloudinary==1.44.1

requests==2.34.2
beautifulsoup4==4.14.3

certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.16
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.7.0

python-dotenv
bcrypt
PyJWT